/* Styling for the main index.html page */
body {
	/* Gradient - between two different color hexes, both with shades of blue - color changing from top to bottom */
	background-image: linear-gradient(to bottom, #005bb5, #87CEFA);
	
	font-family: 'rockwell', sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

#game-title {
	/* Gold-colored title */	
	color: #FFD700;
	
	/* Dropping a text shadow w/ specified dimensions that is slightly transparent (0.6) */		
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
	
	font-size: 60px;
	font-weight: bold;
	margin-top: 30px;
}

#icon {
	/* Displays the image as a block element - starts on a new line, taking up whole width
	https://www.w3schools.com/cssref/pr_class_display.php */
	display: block;
	
	margin: 15px auto;
	width: 120px;
}

#tagline {
	font-size: 20px;
	color: white;
	font-style: italic;
	margin-bottom: 20px;
}

.actions {
	margin: 20px 0;
}

.instructionsButton, .playButton {
	/* Cursor on these buttons is a pointer & indicates a link/clickable object
	https://www.w3schools.com/cssref/pr_class_cursor.php */
	cursor: pointer;
	
	border: none;
	border-radius: 10px;
	padding: 12px 20px;
	font-size: 20px;
	font-family: 'Arial', sans-serif;
	margin: 10px;

	/* Transition utilized when the user hovers over the buttons - transforms to 1.03% of its original size, and
	a shadow appears - "ease" is used to ease into the transition; the effect has a slow start, then fast, then
	ends slowly https://www.w3schools.com/css/css3_transitions.asp */
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.playButton {
	background-color: #FFD700;
	color: #005bb5;
}

.instructionsButton {
	background-color: #F0FFFF;
	color: #4682B4;
}

/* "hover" - pseudo-class; the style specified below is applied when the user hovers over the "Play Game" and
"How To Play" buttons */
.instructionsButton:hover, .playButton:hover {
	transform: scale(1.05);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.feature-list {
	background-color: rgba(255, 255, 255, 0.9);
	border-radius: 12px;
	padding: 20px;
	margin: 30px auto;

	/* Width is defined as the percentage of the block in which it is contained in */
	width: 70%;
	
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
	color: #005bb5;
	text-align: left;
}

.feature-list h2 {
	font-size: 25px;
	color: black;
	text-align: center;
	margin-bottom: 10px;
}

.feature-list ul {
	/* Removes the bullet points from the list */
	list-style: none;
	
	padding: 0;
}

.feature-list li {
	font-size: 18px;
	margin: 8px 0;
	text-align: center;
}

footer {
	background-color: #003a70;
	color: white;
	padding: 15px 0;
	margin-top: 50px;
	box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.3);
}

.footer-content p {
	font-size: 14px;
	margin: 5px 0;
}

/* p is the first-child of its parent class, footer */
footer p:first-child {
	font-weight: bold;
	font-size: 16px;
	color: #FFD700;
}
